body {
  background-color: white;
  font-family: 'Public Sans', sans-serif;
  display: block;
  margin: 8px;
}

div#main {
  max-width: 700px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: sans-serif;
}

h2 {
  padding-top: 2%;
}

h3 {
  width: 100%;
  padding-bottom: 2px;
  font-size: 18px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.story {
  font-size: 15px;
}
